# Site settings
title: YML title Min
description: >- # this means to ignore newlines until "baseurl:"
  YML desc
baseurl: "" # the subpath of your site, e.g. /blog (leave blank for root)
url: "https://allenxie.info/" # replace with your GitHub Pages URL or custom domain

# Build settings
theme: minima # A simple default theme; you can change to others like "jekyll-theme-cayman"

# Exclude from processing (optional, add if needed)
exclude:
  - .sass-cache/
  - .jekyll-cache/
  - gemfiles/
  - Gemfile
  - Gemfile.lock
  - node_modules/
  - vendor/bundle/
  - vendor/cache/
  - vendor/gems/
  - vendor/ruby/

